{% extends "layout.html" %}

{% block title %}
    Active Chat Check
{% endblock %}

{% block main %}
    {% if livechatid %}
        <h1 class="center">
            Active live chat found. 
        </h1>
        <form class="center" action="/scroller" method="GET">
            <div class="mb-3">
                <button type="submit" name="scroll" class="btn btn-primary" style="background-color:darkgreen">Open Chat Scroller</button>
            </div>
        </form>
    {% else %}
        <h1 class="center">
            There are no active live chats. Please try again after making the proper adjustments.
        </h1>
        <form class="center" action="/activechat" method="GET">
            <div class="mb-3">
                <button type="submit" name="check" class="btn btn-primary">Check Active Stream</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
